# General
target/
.classpath
.project
.settings/
.metadata/
*.log
.h2/
gwt-unitCache/

# Ignore apidocs
apidocs/

# Module specific
graphics/dependency-reduced-pom.xml
/pom-backup.xml
/pom.xml.bak
