<?xml version="1.0" encoding="UTF-8"?>
<WMS_Capabilities
        version="1.3.0"
        updateSequence="$catalogue.lastUpdateTime"
        xmlns="http://www.opengis.net/wms"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:edal="http://reading-escience-centre.github.io/edal-java/wms"
        xsi:schemaLocation="http://www.opengis.net/wms http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd">
    <Service>
        <Name>WMS</Name>
        <Title>$catalogue.serverInfo.name</Title>
        <Abstract>$catalogue.serverInfo.abstract</Abstract>
        <KeywordList>
#foreach($keyword in $catalogue.serverInfo.keywords)        
            <Keyword>$keyword</Keyword>
#end            
        </KeywordList>
        <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
        <ContactInformation>
            <ContactPersonPrimary>
                <ContactPerson>$catalogue.contactInfo.name</ContactPerson>
                <ContactOrganization>$catalogue.contactInfo.organisation</ContactOrganization>
            </ContactPersonPrimary>
            <ContactVoiceTelephone>$catalogue.contactInfo.telephone</ContactVoiceTelephone>
            <ContactElectronicMailAddress>$catalogue.contactInfo.email</ContactElectronicMailAddress>
        </ContactInformation>
        <Fees>none</Fees>
        <AccessConstraints>none</AccessConstraints>
        <LayerLimit>$catalogue.serverInfo.maxSimultaneousLayers</LayerLimit>
        <MaxWidth>$catalogue.serverInfo.maxImageWidth</MaxWidth>
        <MaxHeight>$catalogue.serverInfo.maxImageHeight</MaxHeight>
    </Service>
    <Capability>
        <Request>
            <GetCapabilities>
                <Format>text/xml</Format>
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
                        </Get>
                    </HTTP>
                </DCPType>
            </GetCapabilities>
            <GetMap>
#foreach($imageFormat in $supportedImageFormats) 
                <Format>$imageFormat</Format>
#end                
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
                        </Get>
                    </HTTP>
                </DCPType>
            </GetMap>
            <GetFeatureInfo>
#foreach($featureInfoFormat in $supportedFeatureInfoFormats) 
                <Format>$featureInfoFormat</Format>
#end                
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
                        </Get>
                    </HTTP>
                </DCPType>
            </GetFeatureInfo>
        </Request>
        <edal:ExtendedCapabilities>
            <edal:CapabilitiesType>ncWMS2</edal:CapabilitiesType>
            <edal:ExtendedRequest>
                <edal:Request>GetMap</edal:Request>
                <edal:UrlParameter>
                    <edal:ParameterName>COLORSCALERANGE</edal:ParameterName>
                    <edal:ParameterDescription>Of the form min,max this is the scale range used for plotting the data.</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>NUMCOLORBANDS</edal:ParameterName>
                    <edal:ParameterDescription>The number of discrete colours to plot the data. Must be between 2 and 250</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>ABOVEMAXCOLOR</edal:ParameterName>
                    <edal:ParameterDescription>The colour to plot values which are above the maximum end of the scale range. Colours are as defined above, with the addition of "extend", which will use the maximum value of the palette.</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>BELOWMINCOLOR</edal:ParameterName>
                    <edal:ParameterDescription>The colour to plot values which are below the minimum end of the scale range. Colours are as defined above, with the addition of "extend", which will use the minimum value of the palette.</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>LOGSCALE</edal:ParameterName>
                    <edal:ParameterDescription> "true" or "false" - whether to plot data with a logarithmic scale</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>TARGETTIME</edal:ParameterName>
                    <edal:ParameterDescription>For in-situ data, all points which fall within the time range (specified in the TIME parameter) will be plotted. In the case that an in-situ point has multiple time readings within that range, the colour used to plot them will depend on the time value which is closest to this given value</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>TARGETELEVATION</edal:ParameterName>
                    <edal:ParameterDescription>For in-situ data, all points which fall within the elevation range (specified in the ELEVATION parameter) will be plotted. In the case that an in-situ point has multiple elevation readings within that range, the colour used to plot them will depend on the elevation value which is closest to this given value</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>OPACITY</edal:ParameterName>
                    <edal:ParameterDescription>The percentage opacity of the final output image</edal:ParameterDescription>
                </edal:UrlParameter>
                <edal:UrlParameter>
                    <edal:ParameterName>ANIMATION</edal:ParameterName>
                    <edal:ParameterDescription>"true" or "false" - whether to generate an animation. This also needs the TIME to be of the formstarttime/endtime, and currently is only implemented for features with a discrete time axis.</edal:ParameterDescription>
                </edal:UrlParameter>
            </edal:ExtendedRequest>
            <edal:ExtendedRequest>
                <edal:Request>GetTimeseries</edal:Request>
                <edal:RequestDescription>This produces either a timeseries graph or, if downloading is enabled, a CSV file containing the data. The URL parameters are identical to those of a GetFeatureInfo request. The TIME parameter should specify a range of times in the form starttime/endtime, and the supported formats are: image/png,image/jpg,image/jpeg,text/csv</edal:RequestDescription>
            </edal:ExtendedRequest>
            <edal:ExtendedRequest>
                <edal:Request>GetVerticalProfile</edal:Request>
                <edal:RequestDescription>This produces either a vertical profile graph or, if downloading is enabled, a CSV file containing the data. The URL parameters are identical to those of a GetFeatureInfo request. The ELEVATION parameter should specify a range of elevations in the form startelevation/endelevation, and the supported formats are: image/png,image/jpg,image/jpeg,text/csv</edal:RequestDescription>
            </edal:ExtendedRequest>
            <edal:ExtendedRequest>
                <edal:Request>GetTransect</edal:Request>
                <edal:RequestDescription>This produces a graph of data values along an arbitrary path. Additionally if there is vertical information present in the dataset, it will produce a vertical section along the same path.  It accepts the same URL parameters as a GetMap requestion, with the additional mandatory parameter LINESTRING</edal:RequestDescription>
                <edal:UrlParameter>
                    <edal:ParameterName>LINESTRING</edal:ParameterName>
                    <edal:ParameterDescription>The points which define the path of the transect to plot.  Of the form x1 y1,x2 y2,x3 y3...</edal:ParameterDescription>
                </edal:UrlParameter>
            </edal:ExtendedRequest>
            <edal:ExtendedRequest>
                <edal:Request>GetMetadata</edal:Request>
                <edal:RequestDescription>Fetches small pieces of metadata.  Many of these are also present in this capabilities document, but GetMetadata provides a more convenient method of accessing such data. GetMetadata always returns data in the JSON format</edal:RequestDescription>
                <edal:UrlParameter>
                    <edal:ParameterName>ITEM</edal:ParameterName>
                    <edal:ParameterDescription>This specifies the metadata to return.  This can take the values:
                        menu: Returns a tree representation of the available WMS layers, with IDs. Takes the optional parameter DATASET to return the same tree for a single dataset
                        layerDetails: Returns a set of details needed to plot a given layer. This includes such data as units, layer bounding box, configured scale range, etc. Takes the parameters LAYERNAME and TIME. The TIME parameter is optional, and if it is specified then the nearest available time is returned as part of the layer's details.
                        minmax: Calculates the range of values in the given area. Takes the same parameters as a GetMap request.
                        timesteps: Returns the available times for a given day. Takes the parameters LAYERNAME and DAY (yyyy-mm-dd)
                        animationTimesteps: Returns a list of time strings at different temporal resolutions for a given time range. This is used to present to the user different frequencies for the generation of an animation. Takes the parameters LAYERNAME, START, and END</edal:ParameterDescription>
                </edal:UrlParameter>
            </edal:ExtendedRequest>
            <edal:ExtendedRequest>
                <edal:Request>GetLegendGraphic</edal:Request>
                <edal:RequestDescription>The GetLegendGraphic request generates an image which can be used as a legend. There are two main options: Generating just a colourbar, and generating a full legend.</edal:RequestDescription>
                <edal:UrlParameter>
                    <edal:ParameterName>COLORBARONLY</edal:ParameterName>
                    <edal:ParameterDescription>"true" or "false".  Whether to generate a full legend or just the colour bar.  If it's "true", the following URL parameters are required:
                        PALETTE: The name of the palette to use. If missing, set to "default"
                        NUMCOLORBANDS: The number of colour bands to use. If missing, set to 250
                        VERTICAL: Whether to very colours vertically. If missing, defaults to true
                        WIDTH: The width of the image to generate. If missing, defaults to 50
                        HEIGHT: The height of the image to generate. If missing, defaults to 200
                    
                    For a full legend, the additional parameters LAYERS and either STYLES, SLD, or SLD_BODY must be supplied. This is because a single WMS layer may depend on an arbitrary number of sub-layers, depending on the style it is plotted in. In addition to these parameters, the optional parameters controlling the style may be supplied (these are the same as documented in the GetMap request).  Note that for full legends, the supplied width and height are NOT the final height of the image, but rather the width and height of each individual coloured plot area (i.e. the 1d/2d colourbar)</edal:ParameterDescription>
                </edal:UrlParameter>
            </edal:ExtendedRequest>
        </edal:ExtendedCapabilities>
        <Exception>
            <Format>XML</Format>
        </Exception>
        <Layer>
            <Title>$catalogue.serverInfo.name</Title>
#foreach($supportedCrs in $supportedCrsCodes)
            <CRS>$supportedCrs</CRS>
#end            
#foreach($dataset in $datasets)            
            <Layer>
                <Title>$catalogue.getDatasetTitle($dataset.id)</Title>
#foreach($variable in $dataset.topLevelVariables)
## Recursively insert layers here.
#layer($dataset $variable $verbose $variable.children)
#end                
            </Layer>
#end        
        </Layer>
    </Capability>
</WMS_Capabilities>
##
##
## End of actual capabilities document.  Layer macro follows.
##
##
#macro(layer $dataset $variableMetadata $verboseTimes $children)
#set($parent = ($children && $children.size() > 0))
#set($supportedStyles = $catalogue.styleCatalogue.getSupportedStyles($variableMetadata))
#set($plottable = ($supportedStyles && $supportedStyles.size() > 0))
#set($layerName = $catalogue.layerNameMapper.getLayerName($dataset.id, $variableMetadata.id))
#set($layerMetadata = $catalogue.getLayerMetadata($variableMetadata))
#if(!$layerMetadata.disabled)
    <Layer #if(!$parent && $layerMetadata.queryable)queryable="1"#end>
#if($plottable && $layerName && !$parent)
        <Name>$layerName</Name>
#end
#if($layerMetadata.title)
        <Title>$layerMetadata.title</Title>
#end
#if($layerMetadata.description)
        <Abstract>$layerMetadata.description</Abstract>
#end
#if($parent)
#if($supportedStyles.size() > 0)
#layer($dataset $variableMetadata $verbose false)
#end
#foreach($child in $variableMetadata.children)
#layer($dataset $child $verbose $child.children)
#end
#else
#if($variableMetadata.horizontalDomain.geographicBoundingBox)
#set($bbox = $variableMetadata.horizontalDomain.geographicBoundingBox)
        <EX_GeographicBoundingBox>
            <westBoundLongitude>$bbox.westBoundLongitude</westBoundLongitude>
            <eastBoundLongitude>$bbox.eastBoundLongitude</eastBoundLongitude>
            <southBoundLatitude>$bbox.southBoundLatitude</southBoundLatitude>
            <northBoundLatitude>$bbox.northBoundLatitude</northBoundLatitude>
        </EX_GeographicBoundingBox>
        <BoundingBox CRS="CRS:84" minx="$bbox.westBoundLongitude" maxx="$bbox.eastBoundLongitude" miny="$bbox.southBoundLatitude" maxy="$bbox.northBoundLatitude"/>
#end
#if($variableMetadata.temporalDomain)
## We have a non-null temporal domain
#set($tDomain = $variableMetadata.temporalDomain)
#if($GISUtils.isTemporalDomainTimeAxis($tDomain))
## Discrete temporal domain
        <Dimension name="time" units="$WmsUtils.getTimeAxisUnits($tDomain.chronology)" multipleValues="true" current="true" default="$TimeUtils.dateTimeToISO8601($GISUtils.getClosestToCurrentTime($tDomain))">
#if($verboseTimes)
#foreach($tval in $tDomain.coordinateValues)
            $TimeUtils.dateTimeToISO8601($tval)#if($foreach.hasNext),#end
#end            
#else
            $TimeUtils.getTimeStringForCapabilities($tDomain.coordinateValues)
#end
        </Dimension>
#else
## Continuous temporal domain
        <Dimension name="time" units="$WmsUtils.getTimeAxisUnits($tDomain.chronology)}" multipleValues="true" current="true" default="$TimeUtils.dateTimeToISO8601($tDomain.extent.high)}">
            $TimeUtils.dateTimeToISO8601($tDomain.extent.low)/$TimeUtils.dateTimeToISO8601($tDomain.extent.high)/0
        </Dimension>
#end                    
#end
##
#if($variableMetadata.verticalDomain)
## We have a non-null vertical domain
#set($zDomain = $variableMetadata.verticalDomain)
#if($GISUtils.isVerticalDomainVerticalAxis($zDomain))
## Discrete vertical domain
## Domain is a VerticalAxis
        <Dimension name="elevation" units="$zDomain.verticalCrs.units" default="$GISUtils.getClosestElevationToSurface($zDomain)">
#foreach($zval in $zDomain.coordinateValues)
            $zval#if($foreach.hasNext),#end
#end            
        </Dimension>
#else
## Continuous vertical domain
        <Dimension name="elevation" units="$zDomain.verticalCrs.units" default="$zDomain.extent.low">
            $zDomain.extent.low/$zDomain.extent.high/0
        </Dimension>
#end
#end
#foreach($style in $supportedStyles)
#if($catalogue.styleCatalogue.styleUsesPalette($style))
#foreach($paletteName in $availablePalettes)
        <Style>
            <Name>$style/$paletteName</Name>
            <Title>$style/$paletteName</Title>
#if($paletteName.equalsIgnoreCase("default"))
            <Abstract>$style style, using the default palette.  Available palettes are:
#foreach($availablePalette in $allPalettes)
            $availablePalette, 
#end
            </Abstract>
#else
            <Abstract>$style style, using the $paletteName palette</Abstract>
#end            
            <LegendURL width="110" height="264">
                <Format>image/png</Format>
                <OnlineResource xlink:type="simple" xlink:href="$baseUrl?REQUEST=GetLegendGraphic&amp;PALETTE=$paletteName&amp;LAYERS=$layerName&amp;STYLES=$style/$paletteName"/>
            </LegendURL>
        </Style>
#end
#else
        <Style>
            <Name>$style</Name>
            <Title>$style</Title>
            <Abstract>$style style</Abstract>
        </Style>
#end
#end
#end
</Layer>
#end
#end
