<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE WMT_MS_Capabilities SYSTEM "http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd">
<WMT_MS_Capabilities
        version="1.1.1"
        updateSequence="$catalogue.serverLastUpdate"
        xmlns="http://www.opengis.net/wms"
        xmlns:xlink="http://www.w3.org/1999/xlink">
    <Service>
        <Name>OGC:WMS</Name>
        <Title>$catalogue.serverInfo.name</Title>
        <Abstract>$catalogue.serverInfo.abstract</Abstract>
        <KeywordList>
#foreach($keyword in $catalogue.serverKeywords)        
            <Keyword>$keyword</Keyword>
#end            
        </KeywordList>
        <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
        <ContactInformation>
            <ContactPersonPrimary>
                <ContactPerson>$catalogue.contactInfo.name</ContactPerson>
                <ContactOrganization>$catalogue.contactInfo.organisation</ContactOrganization>
            </ContactPersonPrimary>
            <ContactVoiceTelephone>$catalogue.contactInfo.telephone</ContactVoiceTelephone>
            <ContactElectronicMailAddress>$catalogue.contactInfo.email</ContactElectronicMailAddress>
        </ContactInformation>
        <Fees>none</Fees>
        <AccessConstraints>none</AccessConstraints>
    </Service>
    <Capability>
        <Request>
            <GetCapabilities>
                <Format>application/vnd.ogc.wms_xml</Format>
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
                        </Get>
                    </HTTP>
                </DCPType>
            </GetCapabilities>
            <GetMap>
#foreach($imageFormat in $supportedImageFormats) 
                <Format>$imageFormat</Format>
#end                
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
                        </Get>
                    </HTTP>
                </DCPType>
            </GetMap>
            <GetFeatureInfo>
#foreach($featureInfoFormat in $supportedFeatureInfoFormats) 
                <Format>$featureInfoFormat</Format>
#end                
                <DCPType>
                    <HTTP>
                        <Get>
                            <OnlineResource xlink:type="simple" xlink:href="$baseUrl"/>
                        </Get>
                    </HTTP>
                </DCPType>
            </GetFeatureInfo>
        </Request>
        <Exception>
            <Format>application/vnd.ogc.wms_xml</Format>
        </Exception>
        <Layer>
            <Title>$catalogue.serverInfo.name</Title>
#foreach($supportedCrs in $supportedCrsCodes)
            <SRS>$supportedCrs</SRS>
#end            
#foreach($dataset in $datasets)            
            <Layer>
                <Title>$catalogue.getDatasetTitle($dataset.id)</Title>
#foreach($variable in $dataset.topLevelVariables)
## Recursively(?) insert layers here.  Depends how we want to implement layer structure in Capabilities doc...
#layer($dataset $variable $verbose $variable.children)
#end                
            </Layer>
#end        
        </Layer>
    </Capability>
</WMT_MS_Capabilities>
##
##
## End of actual capabilities document.  Layer macro follows.
##
##
#macro(layer $dataset $variableMetadata $verboseTimes $children)
#set($parent = ($children && $children.size() > 0))
#set($supportedStyles = $catalogue.styleCatalogue.getSupportedStyles($variableMetadata))
#set($plottable = ($supportedStyles && $supportedStyles.size() > 0))
#set($layerName = $catalogue.getLayerName($dataset.id, $variableMetadata.id))
#set($layerMetadata = $catalogue.getLayerMetadata($variableMetadata))
#if(!$layerMetadata.disabled)
    <Layer #if(!$parent && $layerMetadata.queryable)queryable="1"#end>
#if($plottable && $layerName && !$parent)
        <Name>$layerName</Name>
#end
#set($supportedStyles = $catalogue.getSupportedStyles($variableMetadata))
#if($layerMetadata.title)
        <Title>$layerMetadata.title</Title>
#end
#if($layerMetadata.description)
        <Abstract>$layerMetadata.description</Abstract>
#end
#if($parent)
#if($supportedStyles.size() > 0)
#layer($dataset $variableMetadata $verbose false)
#end
#foreach($child in $variableMetadata.children)
#layer($dataset $child $verbose $child.children)
#end
#else
#if($variableMetadata.horizontalDomain.geographicBoundingBox)
#set($bbox = $variableMetadata.horizontalDomain.geographicBoundingBox)
        <LatLonBoundingBox minx="$bbox.westBoundLongitude" maxx="$bbox.eastBoundLongitude" miny="$bbox.southBoundLatitude" maxy="$bbox.northBoundLatitude"/>
        <BoundingBox SRS="CRS:84" minx="$bbox.westBoundLongitude" maxx="$bbox.eastBoundLongitude" miny="$bbox.southBoundLatitude" maxy="$bbox.northBoundLatitude"/>
#end
#if($variableMetadata.temporalDomain)
## We have a non-null temporal domain
        <Dimension name="time" units="$WmsUtils.getTimeAxisUnits($tDomain.chronology)"/>
#end
#if($variableMetadata.verticalDomain)
## We have a non-null vertical domain
        <Dimension name="elevation" units="$zDomain.verticalCrs.units"/>
#end            
    
#if($variableMetadata.temporalDomain)
## We have a non-null temporal domain
#set($tDomain = $variableMetadata.temporalDomain)
#if($GISUtils.isTemporalDomainTimeAxis($tDomain))
## Discrete temporal domain
        <Extent name="time" multipleValues="1" current="1" default="$TimeUtils.dateTimeToISO8601($GISUtils.getClosestToCurrentTime($tDomain.coordinateValues))">
#if($verboseTimes)
#foreach($tval in $tDomain.coordinateValues)
            $TimeUtils.dateTimeToISO8601($tval)#if($foreach.hasNext),#end
#end            
#else
            $TimeUtils.getTimeStringForCapabilities($tDomain.coordinateValues)
#end
        </Extent>
#else
## Continuous temporal domain
        <Extent name="time" multipleValues="1" current="1" default="$TimeUtils.dateTimeToISO8601($tDomain.extent.high)}">
            $TimeUtils.dateTimeToISO8601($tDomain.extent.low)/$TimeUtils.dateTimeToISO8601($tDomain.extent.high)/0
        </Extent>
#end                    
#end
##
#if($variableMetadata.verticalDomain)
## We have a non-null vertical domain
#set($zDomain = $variableMetadata.verticalDomain)
#if($GISUtils.isVerticalDomainVerticalAxis($zDomain))
## Discrete vertical domain
## Domain is a VerticalAxis
        <Extent name="elevation" default="$GISUtils.getClosestElevationToSurface($zDomain)">
#foreach($zval in $vDomain.coordinateValues)
            $zval#if($foreach.hasNext),#end
#end            
        </Extent>
#else
## Continuous vertical domain
        <Extent name="elevation" default="$zDomain.extent.low">
            $vDomain.extent.low/$vDomain.extent.high/0
        </Extent>
#end
#end
#foreach($style in $supportedStyles)
#if($style.usesPalette())
#foreach($paletteName in $availablePalettes)
        <Style>
            <Name>$style.styleName/$paletteName</Name>
            <Title>$style.styleName/$paletteName</Title>
            <Abstract>$style.styleName style, using the $paletteName palette</Abstract>
            <LegendURL width="110" height="264">
                <Format>image/png</Format>
                <OnlineResource xlink:type="simple" xlink:href="$baseUrl?REQUEST=GetLegendGraphic&amp;PALETTE=$paletteName&amp;COLORBARONLY=true&amp;WIDTH=110&amp;HEIGHT=264"/>
            </LegendURL>
        </Style>
#end
#else
        <Style>
            <Name>$style.styleName</Name>
            <Title>$style.styleName</Title>
            <Abstract>$style.styleName style</Abstract>
        </Style>
#end
#end
#end
</Layer>
#end
#end